body{
  height: 100vh;
  width: 100vw;
  touch-action: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  
}

h2{
  margin: 0;
}

.btn{
  width: 80px;
  height: 30px;
}

.mask{
  z-index: 2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: mask 1.5s linear forwards;
}

.gameover{
  display: flex;
  gap: 10px;
  z-index: 3;
  opacity: 0;
  animation: fall 1s linear forwards;
}









kek{
  animation: fall 4s linear forwards;
  transform: translateY(600px);
  transition-property: transform;
  transition-duration: 9s;
}

@keyframes fall{
  from{
    left: -100px;
    opacity: 0;
  }
  to{
    left: 5px;
    opacity: 1;
  }
}

@keyframes mask{
  from{
    background: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  to{
    background: rgba(0, 0, 0, 0.144);
    opacity: 1;
  }
}
